<div class='container'>
    <H4 class='btn-danger'>User waiting for Approval</H4>

<!-- <p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3" >New Department</a>
</p> -->
<table class="table table-sm table-hover">
  <tr class='btn-success'>
      <th>Title</th>
      <th>First_Name</th>
      <th>Middle_Name</th>
      <th>Last_Name</th>
      <th>Mobile_Number</th>
      <th>Email ID</th>
      <th>Adhaar Number</th>
      <th>Date_Of_Birth</th>
      <th>Occupation_Type</th>
      <th>Source_Of_Income</th>
      <th>Gross_Amount</th>
      <th>Debit_Card</th>
      <th>Net_Banking</th>
      <th>Account_Type</th>
    </tr>
      <tr *ngFor="let details of approval">
      <td>{{ details.Title}}</td>
      <td>{{details.First_Name}}</td>
      <td>{{details.Middle_Name}}</td>
      <td>{{details.Last_Name}}</td>
      <td>{{details.Mobile_Number}}</td>
      <td>{{details.Email_Id}}</td>
      <td>{{details.Aadhar_Number}}</td>
      <td>{{details.Date_of_Birth}}</td>
      <td>{{details.Occupation_type}}</td>
      <td>{{details.Source_of_Income}}</td>
      <td>{{details.Gross_Annual_Income}}</td>
      <td>{{details.Debit_Card}}</td>
      <td>{{details.Net_banking}}</td>
      <td>{{details.Account_type}}</td>

      <td><a [routerLink]="['/approvalconfirm/',details.Reference_ID]" class="btn btn-primary btn-sm float-right">Approve</a></td> 
       <!-- <td><a [routerLink]="['/edit/', dept.Id]" class="btn btn-primary btn-sm float-right" >Edit</a></td> 
       <td><a [routerLink]="['/delete/',dept.Id]" class="btn btn-danger btn-sm float-right" >Delete</a></td>  -->
      </tr>
      </table>
    
</div>