<div class='container'>
    <div class='jumbotron'>
        <h3>Details of Department</h3>
        <hr>
        <div class="well">
           Title               : {{ details.Title}}<br/>
           First_Name          : {{details.First_Name}}<br/>
           Middle_Name         : {{details.Middle_Name}}<br/>
           Last_Name           : {{details.Last_Name}}<br/>
           Mobile_Number       : {{details.Mobile_Number}}<br/>
           Email_Id            : {{details.Email_Id}}<br/>
           Aadhar_Number       : {{details.Aadhar_Number}}<br/>
           Date_of_Birth       : {{details.Date_of_Birth}}<br/>
           Occupation_type     : {{details.Occupation_type}}<br/>
           Source_of_Income    : {{details.Source_of_Income}}<br/>
           Gross_Annual_Income : {{details.Gross_Annual_Income}}<br/>
           Debit_Card          : {{details.Debit_Card}}<br/>
           Net_banking         : {{details.Net_banking}}<br/>
           Account_type        : {{details.Account_type}}<br/>
           <input type="submit" value="Approve" (click)="update()"/>
        </div>
    </div>
</div>