<style>
    div {
      text-align: center;
      border: 2px solid black;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
     }
    
  
  td, th {
    border: 2px solid #dddddd;
    text-align: right;
    
    padding: 8px;
  }
    </style>
  
  <div>Home</div>
  
  <table style="border:2px solid black;margin-left:auto">
    <tr>
      <th>Login Internet Banking</th>
    </tr>
    <tr>
      <th><a [routerLink] = "['/login']" >Login</a></th>
    </tr>
    <tr>
      <th><a [routerLink] = "['/register']" >NewUser?Register</a></th>
    </tr>
    <tr>
      <th><a [routerLink] = "['/openaccount']">Apply Online For Account</a></th>
    </tr>
  </table>

  <table style="border:1px solid black;margin-left:auto;margin-right: auto;  width: 30%;height: 15px;padding : 10px">
    <tr height = 150px>
      <th>"welCome"</th>
    </tr>
    <tr height = 150px>
      <th>"Go And Create a Account"</th>
    </tr>
    
  </table>